@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	padding-top: 30px;
	align-items: center;
	justify-content: center;
	width: 100%;
	scroll-behavior: smooth;
}

.span{
	min-height: 30px;
}

section{
	min-height: 100vh;
}

p{
	font-family: 'STIX Two Text', serif;
	font-weight: 600;
	font-size: 20px;
}


/*Styling the navbar*/

.navbar-brand{
	transition: 0.5s ;
}

.navbar-brand:hover{
	color: #fff;
	text-shadow: 0 0 10px #fff,
				 0 0 20px #fff,
				 0 0 40px #fff,
				 0 0 80px #fff;
}

.nav-item{
	border-radius: 20px;
}

.nav-item:hover{
	/*background: #606475;*/
	text-shadow: 0 0 10px #fff,
				 0 0 20px #fff,
				 0 0 40px #fff,
				 0 0 80px #fff;
}

.parallax-window {
    min-height: 600px;
    background: transparent;
    padding: 100px 0;
    color: #fff;
    opacity: 100%;
}

#small-parallax{
	max-height: 400px !important;
	background: transparent;
    padding: 100px 0;
}

#home .text-center{
	font-size: 7vw;
	font-weight: 900;
	font-family: 'Permanent Marker', cursive;
	transition: 0.5s ;
}

 @media screen and (max-width: 600px) {
  #home .text-center{
    font-size: 15vw;
  }
  .parallax-window {
  	padding: 150px 0;
  }
}

#home .text-center:hover{
	text-shadow: 0 0 10px gold,
				 0 0 20px gold;
				 
}

footer{

	background: #222;
}